<div class="container">
  <div class="table-container">  
    <div class="text-field">
      <input #searchInput [(ngModel)] = "inS" type="search" class="text-field__input" >
      <button (click)= "findStudent(searchInput.value)" class="findButton">Поиск</button>
      <button (click)= "clean()" class="cleanInputB">Очистить поиск</button>
      <a class="filterButton" (click)="showFilter()"><img src="../assets/filter.png"></a>
      <button (click)= "cleanFilter()" class="cleanInputB">Снять фильтры</button>
      <a class="filterButton" (click)="addButton()"><img src="../assets/add.png"></a>
    </div>
    <div>
      <thead>
        <tr class="theader">
          <th><a (click)="sortBy('last')"><img sort-img [sortImg]="imgSortLast" src="../assets/sort.png"></a>Фамилия</th>
          <th><a (click)="sortBy('first')"><img sort-img [sortImg]="imgSortFirst" src="../assets/sort.png"></a>Имя</th>
          <th><a (click)="sortBy('middle')"><img sort-img [sortImg]="imgSortMid" src="../assets/sort.png"></a>Отчество</th>
          <th><a (click)="sortBy('date')"><img sort-img [sortImg]="imgSortDate" src="../assets/sort.png"></a>Дата рождения</th>
          <th><a (click)="sortBy('score')"><img sort-img [sortImg]="imgSortScore" src="../assets/sort.png"></a>Средний балл</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <tr highlighting *ngFor = "let student of studentList | searchpipe: inS  ; let i = index" [ngClass] = "{'highlight' : compare(student.averageScore) && turnOn,
                                                                'highSearch':highlightSearch(student.firstName, student.lastName) && search}">
          <td>{{student.lastName | uppercasepipe}}</td>
          <td>{{student.firstName | uppercasepipe}}</td>
          <td>{{student.middleName | uppercasepipe}}</td>
          <td>{{student.birthDate}}</td>
          <td>{{student.averageScore}}</td>
          <td><div id="editButton" (click)="editButton(i)"><img src="../assets/edit.png"></div></td>
          <td><button class="deleteBut" (click)="deleteButton(i)">Удалить</button></td>
          
    
          <div  id="dialog-container" [ngClass] = "{hid: hidd}">
            <div class="popup">
              <p>Вы действительно хотите удалить ?</p>
              <div class="text-right">
                <button class="dialog-btn btn-cancel" id="cancel" (click)="confirmDialog(false)">Нет</button>
                <button class="dialog-btn btn-primary" id="confirm" (click)="confirmDialog(true)">Да</button>
              </div>
          </div>
          </div>
          
        </tr>
      </tbody>
    </div>
  </div>

  <app-filter [ngClass] = "{hidFilt: filterHidden}"></app-filter>

  <app-form 
    [list]="studentList"
    [buttonName]="nameButton" 
    [index]="indexNumber" 
    [indexF]="indexFlag"
    (hiddenChange)="closeButton($event)"
    (listChange)="listChange($event)"
    [formAddEdit]="form"
    [ngClass] = "{hiddenForm: hiddenFormFlag}">
  </app-form>

</div>



