<div class="form-container" >
    <div class="form-container-popup">
      <form  [formGroup]="formAddEdit" (ngSubmit)="_onSubmit()">
        <div class="form-container-div">
          <div formGroupName="fio" >
            <div class="div-input" id="lastName">
              <label>Фамилия</label>
              <input  name="lastName" formControlName="lastName"  />
              <span  [ngClass]="{'tooltip': formAddEdit.get('fio')?.get('lastName')?.invalid, 
                               'tooltip-hid': formAddEdit.get('fio')?.get('lastName')?.valid}" >
              Обязательное поле ввода 
            </span>
            </div>
            <div class="div-input"  id="firstName" >
              <label>Имя</label>
              <input  formControlName="firstName" [ngClass]="{'tool-error': formAddEdit.get('fio')?.hasError('matchedLast')  || formAddEdit.get('fio')?.hasError('matchedMiddle')}" />
              <span [ngClass]="{'tooltip': formAddEdit.get('fio')?.hasError('matchedLast'),
                               'tooltip-hid': !formAddEdit.get('fio')?.hasError('matchedLast') }">
                      Имя совпадает с фамилией
            </span>
              <span [ngClass]="{'tooltip': formAddEdit.get('fio')?.hasError('matchedMiddle'),
                               'tooltip-hid': !formAddEdit.get('fio')?.hasError('matchedMiddle')}">
                      Имя совпадает с отчеством
          </span>
          <span  [ngClass]="{'tooltip': formAddEdit.get('fio')?.get('firstName')?.invalid, 
                               'tooltip-hid': formAddEdit.get('fio')?.get('firstName')?.valid}" >
              Обязательное поле ввода 
            </span>
            </div>
            <div class="div-input" id="middleName">
              <label>Отчество</label>
              <input  formControlName="middleName" />
              <span  [ngClass]="{'tooltip': formAddEdit.get('fio')?.get('middleName')?.invalid, 
                               'tooltip-hid': formAddEdit.get('fio')?.get('middleName')?.valid}" >
              Обязательное поле ввода 
            </span>
            </div>
          </div>
          <div class="div-input">
            <label>Дата рождения</label>
            <input  type="date" formControlName="birthDate"   />
            <span  [ngClass]="{'tooltip': formAddEdit.get('birthDate')?.hasError('birthDate') && formAddEdit.get('birthDate')?.dirty, 
                               'tooltip-hid': !formAddEdit.get('birthDate')?.hasError('birthDate')}" >
              Дата не должна быть больше {{currDate | date: 'dd/MM/yy'}}
            </span>
            <span  [ngClass]="{'tooltip': formAddEdit.get('birthDate')?.invalid, 
                               'tooltip-hid': formAddEdit.get('birthDate')?.valid}" >
              Обязательное поле ввода 
            </span>
          </div>
          <div class="div-input">
            <label>Средний балл</label>
            <input type="number" formControlName="averageScore" />
            <span  [ngClass]="{'tooltip': formAddEdit.get('averageScore')?.invalid, 
                               'tooltip-hid': formAddEdit.get('averageScore')?.valid}" >
              Обязательное поле ввода 
            </span>
          </div>
          
          <button type="button" routerLink="/students" class="form-button" (click)="closeButton()">Закрыть</button>
          <button  routerLink="/students" [ngClass]="{'button-valid': !formAddEdit.valid, 'batton-invalid': formAddEdit.valid }"  class="submit-button" type="button" [disabled]="!formAddEdit.valid" (click)="submitButton()" >Подтвердить</button>
        </div>
        
      </form>
     
      
    </div> 
  </div>
